.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  background-color: #000;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    width: 35px;
    height: 32px;
    padding: 1px;
    margin-right: 40px;
  }

  &__nav-container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: none;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-link {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffff;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px 0 0 0;
    background: none;
    margin-right: 20px;
  }

  &__actions {
    display: none;
  }

  &__login {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffff;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px 0 0 0;
    background: none;
    margin-right: 20px;
  }

  &__signup {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #ffff;
  }

  @media (min-width: 834px) {
    &__nav {
      display: flex;
    }

    &__actions {
      display: flex;
      align-items: center;
    }

    .burgerMenu {
      display: none;
    }
  }
}
