.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px 16px;
  background-color: #0f172a;
  color: #ffff;

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: 1280px) {
      max-width: 592px;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      max-width: 492px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 369px;
    }

    @media (max-width: 767px) {
      max-width: 344px;
      padding: 0 16px;
    }
  }

  &__banner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  &__form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
