.terms {
  height: 40px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ca3af;
  text-align: left;

  &__link {
    font-weight: 500;
    color: #ffff;
    text-decoration: none;
    margin-left: 4px;
  }
}
